<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>

<form action="/articles" method ='post'>
  <label for="article_title">Article Title: </label>
  <input type="text" id ="article_title" name = 'title'>
  <label for="article_content">Article Content: </label>
  <input type="text" id ="article_content" name = 'content'>
  <input type="submit">
</form>

  </body>
</html>
